@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ukraine<br />
    Kyiv<br />
    <abbr title="Phone">P:</abbr>
    +38 050 573-74-25
</address>

<address>
    <strong>Mail:</strong>   <a href="mailto:litoshko.andriy@gmail.com">litoshko.andriy@gmail.com</a>
</address>