@model IEnumerable<Catalogue.Models.Record>
@{
    ViewBag.Title = "Home Page";
}

@foreach(var item in Model)
{
    <div>
        <h4>@item.Title</h4>
        <div>@item.Description</div>
        <hr />
    </div>
}